$primary   : #272D4B;
$secondary : #03A64A;
$accent    : #9C27B0;

$dark      : #101820;

$positive  : #03A64A;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$blue      : #272D4B;
$green     : #03A64A;