$scroll-size: 8px;

// 定义滚动条高宽及背景高宽分别对应横竖滚动条的尺寸
::-webkit-scrollbar {
  width: $scroll-size;
  height: $scroll-size;
}

// 定义滚动条轨道
::-webkit-scrollbar-track {
  border-radius: $scroll-size;
  background-color: $grey-2;
}
  
// 定义滑块内阴影 + 圆角
::-webkit-scrollbar-thumb {
  border-radius: $scroll-size;
  background-color: $grey-6;
}